# Flutter
.dart_tool/
.idea/
build/
flutter_*.png
*.iml
*.lock
*.log
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.pyc
.svn/
.DS_Store
.atom/
.packages
.pub/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/Flutter.podspec
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/android/local.properties
/android/app/google-services.json
